<div class="center jumbotron">
  <h1>Welcome to Utsob Blog</h1>

  <h2>
    This is the home page for test blog System.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"%>
</div>

<%= link_to image_tag("asdf.png", alt: "blog logo"),
            'http://rubyonrails.org/' %>
