<li id="comment-<%= comment.id %>">
  <span class="user"><%= link_to comment.user.name, User %></span>
  <span class="content"><%= comment.body %></span>
  <span class="timestamp">
    Posted on <%= comment.created_at %> ago.
  </span>
</li>